<div class="row">
 <div class="col-5">
  <%= image_tag @item.image, size: "200x200" %>
 </div>
 <div class="col-7">
  <h3 class="mb-5"><b class="mb-5"><%= @item.name %></b></h3>
  <div class="mb-5">
   <h4><%= @item.introduction %></h4>
  </div>
  <div class="d-flex flex-row item-price">
   <h3 class="">¥<%= (@item.price * 1.1).floor %></h3><div class="">（税込）</div>
  </div>
 </div>
</div>
<div class="row">
 <div class="offset-5 col-7 d-flex justify-content-center">
  <%= form_with model: @cart_item, method: :post, url:cart_items_path, local: true do |f| %>
   <%= f.hidden_field :item_id, :value => @item.id %>
   <%= f.select :amount, *[1..10], include_blank: '個数選択' %>
   <%= f.submit "カートに入れる", class:"btn btn-success w-160px ml-5" %>
 <% end %>
 </div>
</div>